<a routerLink="">Select words</a>
<!--

  * input for adding new word
  ** ok button that adds that word
  * table
  ** word
  ** delete button

-->
<br><br>
<div class="container">

  <div class="row" >
    <div class="col-12">
        <div class="input-group mb-3" >
          <input type="text" class="form-control" placeholder="Add a new word" [formControl]="inputControl" >
          <div class="input-group-prepend">
            <button class="btn btn-success" (click)="addNew()">OK</button>
          </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Word</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let word of words" >
            <td>{{word.id}}</td>
            <td>{{word.value}}</td>
            <td><button type="button" class="btn btn-danger" (click)="remove(word.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
