


<!DOCTYPE html>


<button class="btn btn-info btn-Link" >
  <a routerLink="words">Go to words list</a></button>

<html>
    <body>


<div class="container">

  <div class="row" >
    <div class="col-12">
        <div class="input-group mb-3" >

        <div><input type="text" name="Words" placeholder="Amount of Words?" [formControl]="wordNumber" /></div>
        <div class="input-group-prepend">
        <button class="btn btn-success" (click)="generateWords()">Randomize</button>
      </div>
    </div>
</div>
</div>



<h5>Your random list of words </h5>
<p>{{verb}}</p>



<!--

  * form
  ** choose word number
  ** button "ok"

-->
